
.layout-1col__main--better_accountability {
  margin-top: 3rem;
}
.layout-item--better-accountability {
  position: relative;
}
.editor-content--better_accountability {
  margin-top: 3rem;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-template-rows: repeat(12, auto);
  gap: 3rem;
  @apply grid-cols-3 auto-rows-max;

  &__title {
    margin-bottom: 1rem;
  }
  &__pagination {
    text-align: center;
  }
}
